*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#ebe6e1;
font-family: 'Georgia', serif;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 80px;
}

.logo img{
width:120px;
}

nav a{
margin:0 30px;
text-decoration:none;
color:#7b2e3d;
font-size:18px;
font-weight:500;
}

/* HERO SECTION */

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:60px 100px;
}

.hero-text h1{
font-size:70px;
color:#6b1f2b;
line-height:1.1;
max-width:500px;
}

.hero-image img{
width:500px;
border-radius:20px;
}