*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#f4efea;
font-family:'Poppins', sans-serif;
}

/* NAVBAR */

.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:30px 80px;
}

.logo img{
width:130px;
}

.menu{
display:flex;
align-items:center;
gap:60px;
}

.menu a{
text-decoration:none;
color:#7a3a45;
font-size:17px;
font-weight:500;
transition:.3s;
}

.menu a:hover{
color:#a05b66;
}

/* BUY BUTTON */

.buy-btn{
background:#7a3a45;
color:white;
padding:10px 22px;
border-radius:30px;
}

/* HERO SECTION */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 100px;
}

.hero-left{
max-width:520px;
}

.hero-left h1{
font-family:'Playfair Display', serif;
font-size:72px;
color:#6a1d2c;
line-height:1.1;
margin-bottom:25px;
}

.hero-left p{
color:#555;
font-size:18px;
margin-bottom:30px;
}

.shop-btn{
background:#6a1d2c;
color:white;
padding:14px 30px;
border-radius:30px;
text-decoration:none;
font-weight:500;
transition:.3s;
}

.shop-btn:hover{
background:#8b3242;
}

/* HERO IMAGE */

.hero-right img{
width:520px;
border-radius:18px;
box-shadow:0px 10px 30px rgba(0,0,0,0.15);
}